div.new .importIMDb {
	position: absolute;
	bottom: 0;
	padding: 10px 43px;
	margin-left: 25%;
	/*box-shadow: rgba(255,255,255,0.7) 0 1px 0 inset;
	border-top: 1px solid #a2afaf;*/
}

	div.new .importIMDb p {
		margin-bottom: 0;
		text-shadow: rgba(255,255,255,0.7) 0 1px 0;
	}

	div.new .importIMDb input[type="text"] {
		width: 110px;
		margin: 20px 0 6px 5px !important;
	}

	div.new .importIMDb button {
		height: 40px;
		font: bold 14px/38px HelveticaNeue, Helvetica, Arial;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid rgba(0,0,0,0.4);
		box-shadow: white 0 1px 0, 0 1px 0 rgba(255,255,255,0.5) inset;
		background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
		background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
		background-color: #5b7926;
		color: white;
		text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
		text-decoration: none;
		padding: 0 10px;
		margin: 0 0 0 10px;
	}
