div.new .imdbInput {
	position: absolute;
	bottom: 0;
	padding: 10px 43px;
	margin-left: 25%;
	/*box-shadow: rgba(255,255,255,0.7) 0 1px 0 inset;
	border-top: 1px solid #a2afaf;*/
}

	div.new .imdbInput p {
		margin-bottom: 0;
		text-shadow: rgba(255,255,255,0.7) 0 1px 0;
	}

	div.new .imdbInput input[type="text"] {
		width: 110px;
		margin: 20px 0 6px 5px !important;
	}

div.new button {
	height: 40px;
	font: bold 14px/38px HelveticaNeue, Helvetica, Arial;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: white 0 1px 0, 0 1px 0 rgba(255,255,255,0.5) inset;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
	background-color: #5b7926;
	color: white;
	text-shadow: rgba(0,0,0,0.3) 0 1px 1px;
	text-decoration: none;
	padding: 0 10px;
	margin: 0 0 0 10px;
}

#importResults div.result {
	font-size: medium;
	margin: 10px 0 10px 20px;
	padding: 8px 8px 8px 42px;
	min-height: 40px;
	background-color: #2F96B4;
	border-radius: 3px;
	color: #FFFFFF;
	line-height: 18px;
	background-position: 8px 50%;
	background-repeat: no-repeat;
}

	#importResults div.result div.carton {
		background: #FAFAFA;
	}

		#importResults div.result div.carton p {
			color: #000000;
		}

	#importResults div.result p {
		color: #FFFFFF;
	}

	#importResults div.result:last-of-type {
		margin-bottom: 30px;
	}

	#importResults div.result.complete {
		background-color: #51A351;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==);
	}

	#importResults div.result.error {
		background-color: #BD362F;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
	}

.editDialog {
	z-index: 5000;
}

.editFormField {
	cursor: pointer;
	margin-left: 5px;
}
